.mainpage {
    margin: 2rem 3rem;
    display: flex;
    flex-direction: column;
}


.mainpage--inputs {
    /* margin: auto; */
    display: flex;

}
input {
    width: 100%;
    margin: 0 1rem;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid black;
    font-family: "Karla", sans-serif;font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 0.5rem; 
}

input:focus {
    border: 1px solid black;
    box-shadow: 0px 4px 4px rgba(14, 86, 219, 0.3);
}

.mainpage--button {
    margin: 1rem;
    display: flex;
}

button {
    width: 100%;
    padding: 0.4rem;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);background-color: #672280;
    color: white;
    border: none;
    cursor: pointer;
    font-family: "Karla", sans-serif;
}

.container {
    display: flex;
    flex-direction: column; 
}

.container > img {
    margin: 1rem;
    border-radius: 2rem;
    width: 90%;
    align-self: center;
    /* height: 30rem; */
    object-fit: contain;
    position: relative;
}

.container > img:hover {
    filter: brightness(80%);
}

.container  > button {
    width: 50%;
    align-self: center;
}

.mainpage--header {
    position: absolute;
    margin-top: 6rem;
    align-self: center;
    font-size: 2.3rem;
    color: white;
    font-weight: bold;
    max-width: 30rem;
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    
}

.mainpage--footer {
    position: absolute;
    align-self: center;
    margin-top: 23rem;
    color: white;
    max-width: 30rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Comic Sans MS", "Comic Sans", cursive;

}